/* start */

@media (min-width: 360px) {
  .trm-cond-main-titl {
    font-family: "CeraPro", "Montserrat", "Canela-Light", "sans-serif";
    font-size: 1.875rem;
    margin: 45px 0 64px;
    font-weight: normal;
  }

  .trm-cond-sub-titl {
    font-size: 1.25rem;
    margin: 0 0 28px;
    font-weight: normal;
  }

  .trm-cond-sub-content {
    font-family: "CeraPro", "Montserrat", "Canela-Light", "sans-serif";
    font-weight: 300;
    color: #38251d;
    font-size: 0.875rem;
    margin: 24px 0;
  }
}

@media (min-width: 576px) {
  .trm-cond-main-titl {
    font-size: 2rem;
  }

  .trm-cond-sub-titl {
    font-size: 1.375rem;
  }
}

@media (min-width: 992px) {
  .trm-cond-main-titl {
    font-size: 2.125rem;
    margin: 0 0 94px;
  }

  .trm-cond-sub-titl {
    font-size: 1.5rem;
    margin: 0 0 28px;
  }

  .trm-cond-sub-content {
    margin: 28px 0;
    font-size: 0.9375rem;
  }
}

@media (min-width: 1360px) {
  .trm-cond-main-titl {
    font-size: 2.25rem;
  }

  .trm-cond-sub-titl {
    font-size: 1.625rem;
  }
}

/* end */
