/* Global Setting */

@font-face {
  src: url("../../fonts/CeraPro-Regular.woff"),
    url("../../fonts/CeraPro-Regular.otf");
  font-family: "CeraPro";
}

@font-face {
  src: url("../../fonts/CeraPro-Light.woff"),
    url("../../fonts/CeraPro-Light.otf");
  font-family: "CeraPro";
  font-weight: 300;
}

@font-face {
  font-family: "Canela-Light";
  src: url("../../fonts/Canela-Light.woff"), url("../../fonts/Canela-Light.otf");
}

@font-face {
  font-family: "Montserrat";
  src: url("../../fonts/Montserrat-Light.woff"),
    url("../../fonts/Montserrat-Light.otf");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 300;
  src: url("../../fonts/Montserrat-Light.woff"),
    url("../../fonts/Montserrat-Light.otf");
}

* {
  scroll-behavior: smooth;
}

body {
  font-family: "CeraPro", "Montserrat", "Canela-Light", "sans-serif";
  margin: 0px;
  box-sizing: border-box;
}

/* Global Setting Ends */

/* header start */

.visible {
  display: inline-block;
}
.invisible {
  display: none;
}

.global-heading {
  font-family: Canela-Light, sans-serif;
  font-size: 1.25rem;
  letter-spacing: 3.6px;
  opacity: 0.8;
}
.global-heading a {
  color: #140329;
  text-decoration: none;
}
.global-para {
  font-family: CeraPro-Light, sans-serif;
  font-size: 0.7rem;
  color: rgba(56, 37, 29, 0.7);
  margin: 1.25rem 0;
}
.header {
  width: 100vw;
  display: flex;
  justify-content: center;
  padding: 0.94rem 0 0.5rem 0;
  background: #fff5f0;
  z-index: 3;
  position: fixed;
}
.primary-nav {
  display: flex;
  width: 90%;
  justify-content: flex-start;
}
.nav-left {
  justify-content: flex-start;
}
.upper-nav {
  display: flex;
  justify-content: flex-start;
}
.upper-nav-list {
  text-align: left;
  font-family: CeraPro-Thin, san-serif;
  line-height: 2.5;
  opacity: 0.8;
}
.upper-nav-list > a {
  text-decoration: none;
  color: #38251d;
}
.upper-nav-list .covid-nav {
  color: #f5764d;
}
.lower-nav {
  display: flex;
  justify-content: flex-start;
}
.lower-nav-list {
  text-align: left;
  font-family: CeraPro-Regular, sans-serif;
  line-height: 2.14;
  letter-spacing: 1.05px;
  opacity: 0.8;
  margin: 0.375rem 0;
}
.lower-nav-list > a {
  text-decoration: none;
  color: rgba(56, 37, 29, 0.8);
}
.nav-right {
  justify-content: flex-end;
}
.upper-nav-right {
  justify-content: flex-end;
}
.upper-nav-right .upper-nav-list {
  text-align: right;
  padding-right: 0;
}
.lower-nav-right {
  justify-content: flex-end;
}
.lower-nav-right .lower-nav-list {
  text-align: right;
  padding-right: 0;
}
.search-nav {
  width: 5.625rem;
}
.search-nav hr {
  opacity: 0.5;
}
.search-nav-icon img {
  width: 0.625rem;
  height: 0.625rem;
}
.logo {
  display: flex;
  flex: auto;
  justify-content: center;
}
.logo-img {
  display: inline-block;
  width: 8.75rem;
  height: 4.375rem;
}
.mob-nav {
  display: none;
}
.mob-nav img {
  width: 2.5rem;
  height: 2.5rem;
}
.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.527);
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
}
.sidebar {
  width: 50vw;
  height: 100vh;
  background: #fff5f0;
  z-index: 4;
  position: fixed;
  top: 0;
  left: 0;
  animation: sidebar 0.5s ease-in-out;
}
@keyframes sidebar {
  from {
    left: -50%;
  }
  to {
    left: 0%;
  }
}
.sidebar-list {
  list-style: none;
  text-align: left;
  padding-left: 50px;
}
.sidebar-lists {
  padding: 0.625rem;
}
.sidebar a {
  text-decoration: none;
  font-family: CeraPro-Thin, sans-serif;
  color: rgba(56, 37, 29, 0.8);
  font-size: 1.3rem;
}
.accounts-sidebar {
  width: 50vw;
  height: 100vh;
  background: #fff5f0;
  z-index: 4;
  position: fixed;
  top: 0;
  right: 0;
  animation: commonsidebar 0.5s ease-in-out;
  background: #ffffff;
  text-align: center;
}
@keyframes commonsidebar {
  from {
    right: -50%;
  }
  to {
    right: 0%;
  }
}
.accounts-info-content {
  display: inline-block;
  width: 80%;
  margin-top: 100px;
  text-align: left;
}
.sidebar-main-txt {
  font-family: CeraPro-Regular;
  letter-spacing: 0.4px;
  color: #36251c;
  font-size: 23px;
  text-align: left;
  margin-bottom: 15px;
}
.accounts-info-content input {
  width: 98%;
  padding-bottom: 10px;
  border-top-style: hidden;
  border-left-style: hidden;
  border-right-style: hidden;
  border-bottom-style: groove;
  border-color: #36251c;
  border-width: 1px;
  /* opacity: 0.3; */
  margin-top: 40px;
}
.no-outline:focus {
  outline: none;
}
.sidebar-normal-txt {
  font-family: CeraPro-Light;
  color: rgba(54, 37, 28, 0.8);
  font-size: 13px;
}
.forgot-pwd {
  text-align: right;
  margin: 14px 0;
}
.forgot-pwd-sidebar {
  display: none;
  width: 50vw;
  height: 100vh;
  background: #fff5f0;
  z-index: 4;
  position: fixed;
  top: 0;
  right: 0;
  animation: commonsidebar 0.6s ease-in-out;
  background: #ffffff;
  text-align: center;
}
.pwd-para {
  width: 285px;
  margin-top: 25px;
}
.search-sidebar {
  display: none;
  width: 50vw;
  height: 100vh;
  background: #fff5f0;
  z-index: 4;
  position: fixed;
  top: 0;
  left: 0;
  animation: sidebar 0.6s ease-in-out;
  background: #ffffff;
  text-align: center;
}
.search-content {
  display: inline-block;
  width: 80%;
  text-align: left;
}
.search-upper-nav {
  margin-top: 15px;
  font-family: CeraPro-Thin, sans-serif;
}
.search-nav-list {
  display: inline-block;
  margin-right: 20px;
  font-size: 10px;
  color: #38251d;
  line-height: 30px;
}
.special-nav {
  color: #ff001f;
}
.search-lower-nav {
  margin-top: 8px;
  font-family: CeraPro-Regular, sans-serif;
}
.search-lower-nav .search-nav-list {
  margin-right: 60px;
  color: rgba(56, 37, 29, 0.4);
  letter-spacing: 1px;
}
.search-heading {
  font-family: CeraPro-Regular, sans-serif;
  font-size: 22px;
  letter-spacing: 0.6px;
  color: #38251d;
  margin-top: 50px;
}
.search-section {
  text-align: left;
  border-bottom: 1px solid #38251d;
  margin-bottom: 60px;
}
.search-bar {
  width: 85%;
  font-family: CeraPro-Light, sans-serif;
  line-height: 30px;
  font-size: 12px;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: none;
}
.no-outline:focus {
  outline: none;
}
.search-icon {
  display: inline-block;
  width: 10px;
  height: 10px;
  vertical-align: middle;
  margin-right: 5px;
}
.pop-search {
  font-family: CeraPro-Regular, sans-serif;
  font-size: 10px;
  color: rgba(56, 37, 29, 0.8);
  letter-spacing: 0.8px;
  line-height: 30px;
  margin-top: 30px;
  margin-bottom: 0;
}
.pop-fruits {
  display: block;
  padding: 0;
  list-style: none;
}
.pop-fruits li {
  width: 30%;
  display: inline-block;
  font-family: CeraPro-Regular, sans-serif;
  color: #38251d;
  font-size: 11px;
  line-height: 25px;
  margin: 1px 0;
}
.customer-info {
  font-family: CeraPro-Regular, sans-serif;
  list-style: none;
  padding-left: 40px;
  text-align: left;
  margin-top: 240px;
}
.customer-info li {
  display: inline-block;
  width: 27%;
  color: #38251d;
  font-size: 10px;
  line-height: 30px;
}
.customer-info .cust-contact {
  width: 22%;
}
/* -------------------------------------------------------------------------------------------------------------------------------------------HEADER*/

/* --------------------MEDIA QUERY--------------------------------------------------------------------------- */
@media (min-width: 360px) {
  .nav-left {
    display: none;
  }
  .nav-right {
    display: none;
  }
  .logo {
    padding: 0;
  }
  .mob-nav {
    display: inline-block;
    padding: 0.9375rem 0 0.9375rem 0.75rem;
  }
}

@media (min-width: 576px) {
  .header {
    padding: 0;
  }
  .primary-nav {
    width: 100vw;
  }
  .mob-nav {
    padding: 1.85rem 0 1.8rem 1rem;
  }
  .mob-nav img {
    width: 2.5rem;
    height: 2.5rem;
  }
  .logo {
    padding: 1rem 0 0.4rem 0;
  }
}

@media (min-width: 768px) {
  .header {
    padding: 0;
  }
  .primary-nav {
    width: 100vw;
  }
  .mob-nav {
    padding: 2.2rem 0 0.2rem 1.625rem;
  }
  .nav-left {
    display: none;
  }
  .nav-right {
    display: none;
  }
  .logo-img {
    width: 9.375rem;
    height: 5rem;
  }
}

@media (min-width: 992px) {
  .nav-left {
    display: block;
  }
  .nav-right {
    display: block;
  }
  .primary-nav {
    width: 90%;
  }
  .mob-nav {
    display: none;
  }
  .backdrop {
    display: none;
  }
  .sidebar {
    display: none;
  }
  .upper-nav-list {
    padding-right: 1.75rem;
    font-size: 0.6875rem;
    margin: 1rem 0 0.6rem 0;
  }
  .lower-nav-list {
    font-size: 0.66rem;
    padding-right: 1.75rem;
    opacity: 1;
    margin: 0;
  }
  .upper-nav-right .upper-nav-list {
    padding-left: 1.75rem;
  }
  .lower-nav-right .lower-nav-list {
    padding-left: 1.75rem;
  }
  .search-nav {
    padding-top: 0.3rem;
  }
  .upper-nav-right .search-nav-icon {
    padding-left: 1.125rem;
  }
  .logo {
    padding: 1.4rem 0 0.4rem 0;
  }
  .logo-img {
    width: 8rem;
    height: 4.25rem;
  }
}

@media (min-width: 1200px) {
  .lower-nav-list {
    padding-right: 2rem;
    font-size: 0.85rem;
  }
  .lower-nav-right .lower-nav-list {
    padding-left: 2rem;
  }
  .upper-nav-list {
    padding-right: 2rem;
  }
  .upper-nav-right .upper-nav-list {
    padding-left: 2rem;
  }
  .upper-nav-right .search-nav-icon {
    padding-left: 1rem;
  }
  .logo {
    padding: 1.6rem 0 0.4rem 0;
  }
}

@media (min-width: 1360px) {
  .upper-nav-list {
    padding-right: 2.625rem;
  }
  .lower-nav-list {
    font-size: 0.875rem;
    padding-right: 3.125rem;
  }
  .upper-nav-right .upper-nav-list {
    padding-left: 2.625rem;
  }
  .lower-nav-right .lower-nav-list {
    padding-left: 3.125rem;
  }
  .upper-nav-right .search-nav-icon {
    padding-left: 1.563rem;
  }
}

/* header end */

/* ------------------Footer start------------------- */

@media (min-width: 360px) {
  .main-fotr {
    background-color: #fff5f0;
    display: flex;
    justify-content: center;
  }

  .main-fotr-items {
    padding: 40px 0px 55px;
    display: flex;
    flex-flow: column;
    width: 90vw;
  }

  .nav-list-wrapper {
    display: flex;
    position: relative;
    margin-top: 20px;
    flex-flow: column;
  }

  .fotr-nav-lists,
  .fotr-company-items {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    font-family: "CeraPro", "Canela-Light", "Montserrat-Light", "sans-serif";
    font-weight: 300;
  }

  .fotr-nav-items,
  .fotr-nav-lists {
    margin-top: 20px;
  }

  .fotr-company-logo {
    width: 120px;
    height: 60px;
    margin-bottom: 32px;
  }

  .fotr-logo {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }

  .company-item > .fotr-business-phrase {
    color: rgba(56, 37, 29, 0.8);
    font-family: "CeraPro", "Canela-Light", "Montserrat-Light", "sans-serif";
    font-size: 0.6875rem;
    line-height: 1.7;
    margin-bottom: 25px;
    font-weight: 300;
  }

  .company-address {
    font-size: 0.75rem;
    font-style: normal;
    line-height: 1.5;
  }

  .fotr-phone-no {
    margin-top: 20px;
  }

  .fotr-mob-no {
    text-decoration: none;
    color: #38251d;
    font-size: 0.75rem;
  }

  .mob-no-one {
    margin-right: 12px;
  }

  .fotr-nav-titl {
    font-family: "Canela-Light", "CeraPro", "Montserrat-Light", "sans-serif";
    color: #38251d;
    font-size: 1rem;
    margin-top: 15px;
  }

  .nav-list-item {
    text-decoration: none;
    color: #38251d;
    font-size: 0.75rem;
    font-family: "CeraPro", "Canela-Light", "Montserrat-Light", "sans-serif";
    line-height: 35px;
    font-weight: 300;
  }

  .fotr-covid-item {
    color: #ff1e37;
  }

  .fotr-nav-item {
    font-family: "Canela-Light", "CeraPro", "Montserrat-Light", "sans-serif";
    color: #38251d;
    font-size: 1rem;
    text-decoration: none;
  }

  .fotr-nav-trk-ordr,
  .fotr-nav-carer {
    margin: 30px 0;
  }

  .fotr-social-media {
    margin-top: 38px;
  }

  .fotr-social-items {
    display: flex;
    flex-flow: row wrap;
    font-family: "CeraPro", "Canela-Light", "Montserrat-Light", "sans-serif";
    width: 223px;
    font-weight: 300;
  }

  .social-media-titl {
    font-family: "CeraPro", "Canela-Light", "Montserrat-Light", "sans-serif";
    color: #38251d;
    margin-bottom: 12px;
    font-size: 0.75rem;
    font-weight: 300;
  }

  .social-item {
    font-family: "CeraPro", "Canela-Light", "Montserrat-Light", "sans-serif";
    margin: 4px 16px 7px 0px;
    font-weight: 300;
  }

  .social-list-item {
    text-decoration: none;
    color: #dd5d37;
    font-size: 0.75rem;
  }

  .social-dribble {
    margin-left: 7px;
  }

  .fotr-go-top {
    position: absolute;
    left: 89%;
    top: 87%;
  }

  .go-to-top-icon {
    margin-bottom: 20px;
    width: 35px;
    height: 34px;
  }

  .go-top-icon {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }

  .go-top-phara {
    writing-mode: vertical-lr;
    margin: auto;
    font-size: 0.75rem;
  }

  .go-to-top-content {
    font-family: "CeraPro", "Canela-Light", "Montserrat-Light", "sans-serif";
    color: #000000;
    margin-left: 12px;
    font-weight: 300;
  }

  /* Copy rights */

  .main-copy-right {
    background-color: #38251d;
    padding: 20px 0px;
    text-align: center;
  }

  .copy-right-para {
    margin: 0px;
    color: #ffffff;
    font-family: "CeraPro", "Canela-Light", "Montserrat-Light", "sans-serif";
    font-size: 0.6875rem;
    font-weight: 300;
  }
}

@media (min-width: 768px) {
  .main-fotr-items {
    padding: 50px 0px 65px;
  }

  .nav-list-wrapper {
    position: relative;
    margin-top: 40px;
    flex-flow: row;
    justify-content: space-between;
  }

  .fotr-phone-no {
    margin-top: 25px;
  }

  .nav-list-item {
    line-height: 35px;
  }

  .fotr-social-items {
    width: 220px;
  }

  .social-dribble {
    margin-left: 8px;
  }

  .social-linkedin {
    margin-left: 0px;
  }

  .fotr-go-top {
    left: 94.8%;
    top: 8%;
  }
}

@media (min-width: 992px) {
  .main-fotr-items {
    padding: 60px 0px 75px;
  }

  .fotr-company-logo {
    width: 128px;
    height: 62px;
  }

  .fotr-nav-item,
  .fotr-nav-titl {
    font-size: 1.125rem;
  }

  .company-item > .fotr-business-phrase,
  .copy-right-para {
    font-size: 0.75rem;
  }

  .nav-list-wrapper {
    margin-top: 40px;
  }

  .company-address,
  .fotr-mob-no,
  .nav-list-item,
  .social-media-titl,
  .social-list-item {
    font-size: 0.875rem;
  }

  .fotr-social-media {
    margin-top: 48px;
  }

  .fotr-social-items {
    width: 308px;
  }

  .social-item {
    margin: 10px 44px 7px 0px;
  }

  .social-dribble {
    margin-left: 12px;
  }

  .fotr-go-top {
    left: 95.4%;
    top: 6%;
  }

  .go-to-top-icon {
    margin-bottom: 22px;
    width: 40px;
    height: 39px;
  }

  .go-to-top-content {
    margin-left: 13px;
    font-size: 0.875rem;
  }
}

@media (min-width: 1200px) {
  .main-fotr-items {
    width: 90vw;
    flex-flow: row wrap;
  }

  .nav-list-wrapper {
    margin-top: 0px;
    flex-grow: 2;
    flex-flow: row;
  }

  .fotr-cmpny-detail-wrapper {
    display: flex;
    flex-grow: 1;
  }

  .fotr-nav-lists {
    margin-top: 28px;
  }

  .fotr-company-logo {
    width: 130px;
    height: 70px;
  }

  .fotr-nav-titl,
  .fotr-nav-item {
    font-size: 1.063rem;
  }

  .nav-list-item {
    line-height: 38px;
  }

  .fotr-nav-trk-ordr,
  .fotr-nav-carer {
    margin: 36px 0;
  }

  .fotr-social-media {
    margin-top: 38px;
  }

  .fotr-social-items {
    width: 266px;
  }

  .social-item {
    margin: 20px 25px 7px 0px;
  }

  .social-dribble {
    margin-left: 9px;
  }

  .fotr-go-top {
    left: 94.9%;
  }

  .main-copy-right {
    padding: 16px 0px;
  }
}

@media (min-width: 1360px) {
  .main-fotr-items {
    padding: 75px 0px 95px;
  }

  .fotr-nav-titl,
  .fotr-nav-item {
    font-size: 1.25rem;
  }

  .fotr-nav-items {
    margin-top: 0px;
  }

  .fotr-social-items {
    width: 322px;
  }

  .social-item {
    margin: 16px 50px 7px 0px;
  }

  .social-dribble {
    margin-left: 11px;
  }

  .fotr-go-top {
    left: 94.9%;
    top: 0%;
  }
}

/* -----------------footer end--------------- */
