/* Global Setting */

@font-face {
  src: url("../../CeraPro-Regular.woff"),
    url("../../fonts/CeraPro-Regular.otf");
  font-family: "CeraPro";
}

@font-face {
  src: url("../../CeraPro-Light.woff"),
    url("../../fonts/CeraPro-Light.otf");
  font-family: "CeraPro";
  font-weight: 300;
}

@font-face {
  font-family: "Canela-Light";
  src: url("../../Canela-Light.woff"), url("../../fonts/Canela-Light.otf");
}

@font-face {
  font-family: "Montserrat";
  src: url("../../Montserrat-Light.woff"),
    url("../../fonts/Montserrat-Light.otf");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 300;
  src: url("../../Montserrat-Light.woff"),
    url("../../fonts/Montserrat-Light.otf");
}

* {
  scroll-behavior: smooth;
}

body {
  font-family: "CeraPro", "Montserrat", "Canela-Light", "sans-serif";
  margin: 0px;
  box-sizing: border-box;
}

/* Global Setting Ends */

/* ------------------Footer start------------------- */

@media (min-width: 360px) {
  .main-fotr {
    background-color: #fff5f0;
    display: flex;
    justify-content: center;
  }

  .main-fotr-items {
    padding: 40px 0px 55px;
    display: flex;
    flex-flow: column;
    width: 90vw;
  }

  .nav-list-wrapper {
    display: flex;
    position: relative;
    margin-top: 20px;
    flex-flow: column;
  }

  .fotr-nav-lists,
  .fotr-company-items {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    font-family: "CeraPro", "Canela-Light", "Montserrat-Light", "sans-serif";
    font-weight: 300;
  }

  .fotr-nav-items,
  .fotr-nav-lists {
    margin-top: 20px;
  }

  .fotr-company-logo {
    width: 120px;
    height: 60px;
    margin-bottom: 32px;
  }

  .fotr-logo {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }

  .company-item > .fotr-business-phrase {
    color: rgba(56, 37, 29, 0.8);
    font-family: "CeraPro", "Canela-Light", "Montserrat-Light", "sans-serif";
    font-size: 0.6875rem;
    line-height: 1.7;
    margin-bottom: 25px;
    font-weight: 300;
  }

  .company-address {
    font-size: 0.75rem;
    font-style: normal;
    line-height: 1.5;
  }

  .fotr-phone-no {
    margin-top: 20px;
  }

  .fotr-mob-no {
    text-decoration: none;
    color: #38251d;
    font-size: 0.75rem;
  }

  .mob-no-one {
    margin-right: 12px;
  }

  .fotr-nav-titl {
    font-family: "Canela-Light", "CeraPro", "Montserrat-Light", "sans-serif";
    color: #38251d;
    font-size: 1rem;
    margin-top: 15px;
  }

  .nav-list-item {
    text-decoration: none;
    color: #38251d;
    font-size: 0.75rem;
    font-family: "CeraPro", "Canela-Light", "Montserrat-Light", "sans-serif";
    line-height: 35px;
    font-weight: 300;
  }

  .fotr-covid-item {
    color: #ff1e37;
  }

  .fotr-nav-item {
    font-family: "Canela-Light", "CeraPro", "Montserrat-Light", "sans-serif";
    color: #38251d;
    font-size: 1rem;
    text-decoration: none;
  }

  .fotr-nav-trk-ordr,
  .fotr-nav-carer {
    margin: 30px 0;
  }

  .fotr-social-media {
    margin-top: 38px;
  }

  .fotr-social-items {
    display: flex;
    flex-flow: row wrap;
    font-family: "CeraPro", "Canela-Light", "Montserrat-Light", "sans-serif";
    width: 223px;
    font-weight: 300;
  }

  .social-media-titl {
    font-family: "CeraPro", "Canela-Light", "Montserrat-Light", "sans-serif";
    color: #38251d;
    margin-bottom: 12px;
    font-size: 0.75rem;
    font-weight: 300;
  }

  .social-item {
    font-family: "CeraPro", "Canela-Light", "Montserrat-Light", "sans-serif";
    margin: 4px 16px 7px 0px;
    font-weight: 300;
  }

  .social-list-item {
    text-decoration: none;
    color: #dd5d37;
    font-size: 0.75rem;
  }

  .social-dribble {
    margin-left: 7px;
  }

  .fotr-go-top {
    position: absolute;
    left: 89%;
    top: 87%;
  }

  .go-to-top-icon {
    margin-bottom: 20px;
    width: 35px;
    height: 34px;
  }

  .go-top-icon {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }

  .go-top-phara {
    writing-mode: vertical-lr;
    margin: auto;
    font-size: 0.75rem;
  }

  .go-to-top-content {
    font-family: "CeraPro", "Canela-Light", "Montserrat-Light", "sans-serif";
    color: #000000;
    margin-left: 12px;
    font-weight: 300;
  }

  /* Copy rights */

  .main-copy-right {
    background-color: #38251d;
    padding: 20px 0px;
    text-align: center;
  }

  .copy-right-para {
    margin: 0px;
    color: #ffffff;
    font-family: "CeraPro", "Canela-Light", "Montserrat-Light", "sans-serif";
    font-size: 0.6875rem;
    font-weight: 300;
  }
}

@media (min-width: 768px) {
  .main-fotr-items {
    padding: 50px 0px 65px;
  }

  .nav-list-wrapper {
    position: relative;
    margin-top: 40px;
    flex-flow: row;
    justify-content: space-between;
  }

  .fotr-phone-no {
    margin-top: 25px;
  }

  .nav-list-item {
    line-height: 35px;
  }

  .fotr-social-items {
    width: 220px;
  }

  .social-dribble {
    margin-left: 8px;
  }

  .social-linkedin {
    margin-left: 0px;
  }

  .fotr-go-top {
    left: 94.8%;
    top: 8%;
  }
}

@media (min-width: 992px) {
  .main-fotr-items {
    padding: 60px 0px 75px;
  }

  .fotr-company-logo {
    width: 128px;
    height: 62px;
  }

  .fotr-nav-item,
  .fotr-nav-titl {
    font-size: 1.125rem;
  }

  .company-item > .fotr-business-phrase,
  .copy-right-para {
    font-size: 0.75rem;
  }

  .nav-list-wrapper {
    margin-top: 40px;
  }

  .company-address,
  .fotr-mob-no,
  .nav-list-item,
  .social-media-titl,
  .social-list-item {
    font-size: 0.875rem;
  }

  .fotr-social-media {
    margin-top: 48px;
  }

  .fotr-social-items {
    width: 308px;
  }

  .social-item {
    margin: 10px 44px 7px 0px;
  }

  .social-dribble {
    margin-left: 12px;
  }

  .fotr-go-top {
    left: 95.4%;
    top: 6%;
  }

  .go-to-top-icon {
    margin-bottom: 22px;
    width: 40px;
    height: 39px;
  }

  .go-to-top-content {
    margin-left: 13px;
    font-size: 0.875rem;
  }
}

@media (min-width: 1200px) {
  .main-fotr-items {
    width: 90vw;
    flex-flow: row wrap;
  }

  .nav-list-wrapper {
    margin-top: 0px;
    flex-grow: 2;
    flex-flow: row;
  }

  .fotr-cmpny-detail-wrapper {
    display: flex;
    flex-grow: 1;
  }

  .fotr-nav-lists {
    margin-top: 28px;
  }

  .fotr-company-logo {
    width: 130px;
    height: 70px;
  }

  .fotr-nav-titl,
  .fotr-nav-item {
    font-size: 1.063rem;
  }

  .nav-list-item {
    line-height: 38px;
  }

  .fotr-nav-trk-ordr,
  .fotr-nav-carer {
    margin: 36px 0;
  }

  .fotr-social-media {
    margin-top: 38px;
  }

  .fotr-social-items {
    width: 266px;
  }

  .social-item {
    margin: 20px 25px 7px 0px;
  }

  .social-dribble {
    margin-left: 9px;
  }

  .fotr-go-top {
    left: 94.9%;
  }

  .main-copy-right {
    padding: 16px 0px;
  }
}

@media (min-width: 1360px) {
  .main-fotr-items {
    padding: 75px 0px 95px;
  }

  .fotr-nav-titl,
  .fotr-nav-item {
    font-size: 1.25rem;
  }

  .fotr-nav-items {
    margin-top: 0px;
  }

  .fotr-social-items {
    width: 322px;
  }

  .social-item {
    margin: 16px 50px 7px 0px;
  }

  .social-dribble {
    margin-left: 11px;
  }

  .fotr-go-top {
    left: 94.9%;
    top: 0%;
  }
}

/* -----------------footer end--------------- */
